.submit{
  margin-top: 20px;
  border-radius: 5px;
  padding: 7px;
  border: none;
  background: #000000;
  color: #fddcdc
}

.submit:active{
  border: 1px solid #f38f8f;
}

body{
  padding: 20px;
  background: lightslategrey;
}


h2{
  margin-left: 50%;
}
